<footer class="bg-black ph3 pv4 white">

	<div class="mw7 center pt3">

		<div class="measure-narrow center mb4">

			<img src="/img/logo.svg" alt="Dế Xuân Diệu logo" class="db w4 center mb4 br0">
			<p class="f3 lh-title light-gray b tc mb2">Đăng ký nhận tin</p>
			<p>Bạn muốn nhận thông tin về dế, hãy theo dõi bằng email và nhớ follow fanpage mình nhé</p>

			{{ partial "newsletter-form" . }}

		</div>

		<div class="flex-ns justify-between">

			<div>
				<h3 class="f4 b lh-title mb1 primary">Trại Dế Xuân Diệu</h3>
				<ul class="mb3">
					<li><a href="/" class="link">Trang chủ</a></li>
					<li><a href="/products" class="link">Sản phẩm</a></li>
					<li><a href="/values" class="link">Về chúng tôi</a></li>
					<li><a href="/post" class="link">Blog</a></li>
					<li><a href="/contact" class="link">Liên hệ</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb1 primary">Địa chỉ</h3>
				<ul class="mb3">
					<li>Cơ sở 1: Hành Minh, Nghĩa Hành, Quảng Ngãi</li>
					<li>Cơ sở 2: 20/36 Nguyễn Hữu Thọ, Hải Châu, Đà Nẵng</li>
					<li>SĐT: 0963.156.141 (Xuân) hoặc 0968.77.00.55 (Diệu)</li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb2 primary">Chúng tôi trên mạng xã hội</h3>
				<ul class="mhn2">
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-facebook") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-twitter") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-instagram") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-vimeo") }}
				</ul>
			</div>

		</div>
	</div>

</footer>

{{ partial "svg" . }}

<script src="/app.js"></script>

</body>

</html>