<nav class="overflow-x-scroll overflow-x-visible-ns flex justify-between items-center center bg-white divider-grey relative">

	<!-- Logo -->
	<a href="/" class="pa1 mh3 h-80 flex no-underline nowrap justify-center b grey-4 items-center">
		<img src="/img/logo.png" alt="Dế Xuân Diệu logo" class="br0 db mb0 w-100" />
		<span class="f3">Trại Dế Xuân Diệu</span>
	</a>

	<!-- Primary Nav -->
	<ul class="flex b grey-3">
		<li><a href="/products" class="pa3 no-underline db">Sản phẩm</a></li>

		<!--<li><a href="/values" class="pa3 no-underline db">Giá trị</a></li>-->

		<li><a href="/post" class="pa3 no-underline db">Blog</a></li>

		<li><a href="/contact" class="pa3 no-underline db">Liên hệ</a></li>
	</ul>

</nav>